.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  color: white;

  .navContainer {
    align-items: flex-start;
    width: 100vw;
    height: 10%;
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100vw;
    height: 75%;
  }

  .footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    height: 15%;
    width: 100vw;
    border-color: beige;
    border-style: solid;
  }
  
}